@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #ecf0f1;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

::selection {
  background: #153E8B;
}