.dropdown-menu {
  /* background: red; */
  width: fit-content;
  position: absolute;
  /* margin-top: auto; */
  /* transform: translate(0, -1px); */
  list-style: none;
  text-align: start;
  padding: 0;
  z-index: 200;
  display: block;
  margin: 0;
}

.dropdown-menu li {
  background: #153E8B;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #2157bd;
}

.dropdown-menu li:active {
  background-color: #123474;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
